@import "mocha.css";

/** ********** Fonts ********** **/
* {
    font-family: "JetBrainsMono Nerd Font", "Iosevka Nerd Font";
    font-size: 16px;
}

/** ********** Waybar Window ********** **/
window#waybar {
    background-color: @base;
    /*background-color: transparent;*/
    color: @text;
    border-right: 0px solid @sapphire;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    max-height: 48;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.5;
}

tooltip {
    background: @base;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: @crust;
}

#workspaces {
    background: @base;
    border-radius: 10px;
    /* margin-left: 10px; */
    margin: 3px 0px;
    /*margin-top: 10px;*/
    padding-right: 0px;
    padding-left: 5px;
}

#workspaces button {
    color: @surface0;
    margin-right: 5px;
}

#workspaces button.active {
    color: @subtext0;
} 

#workspaces button.focused {
    color: @subtext0;
    background: @maroon;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: @crust;
    background: @green;
    border-radius: 10px;
}

#workspaces button:hover {
    background: @crust;
    color: @text;
    border-radius: 10px;
}

#workspaces button.visible {
    background-color: @mantle;
}

#workspaces button.focus {
    background-color: @subtext0;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#backlight {
    background: @base;
    padding: 0px 10px;
    margin: 3px 0px;
    border: 1px solid @mantle;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: @yellow;
    border-left: 10px;
    border-radius: 0 10px 10px 0;
}

#custom-date{
    color: @sapphire;
    border-radius: 10px;
    margin-left: 10px;
}


#network {
    color: @peach;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    color: @blue;
    border-left: 10px;
    border-radius: 10px 0 0 10px;
}

#battery {
    color: @green;
    border-radius: 0;
    border-left: 0px;
}

#backlight {
    color: @mauve;
    border-left: 0px;
    border-right: 0px;
}

@keyframes blink {
    to {
        color: @red;
    }
}

#battery.critical:not(.charging) {
    color: @text;
    border-bottom: 2px solid @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-pomo {
    background: @base;
    border-radius: 10px 0px 0px 10px;
    border-right: 0px;
    margin-left: 10px;
    color: @mauve; 
}
