#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Cloud Drive
Exec=flatpak run --command=/app/bin/chrome com.google.Chrome --profile-directory=Default --app=https://drive.google.com/drive/u/0/
Icon=drive
