* {
    background-image: none;
    font-size: 20px;
    font-family: 'JetBrainsMono Nerd Font';
    font-weight: bold;
	  box-shadow: none;
}

window {
    background-color: rgba(30, 30, 46, 0.75);
}

button {
    border-radius: 32px;
    color: #cdd6f4;
    background-color: #11111b;
  	border-style: solid;
  	border-width: 4px;
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size: 20%;
    margin: 0px;
    animation: gradient_f 20s ease-in infinite;
}

button:focus {
    background-color: #a6adc8;
    background-size: 20%;
    color: #313244;
}

button:hover {
    background-color: #89b4fa;
    background-size: 25%;
    border-radius: 8px; /* Adjust as needed for active_rad */
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

/* Button Specific Styles */
button#logout {
    background-image: image(url("./logout.png"));
}
button#logout:focus {
    background-image: image(url("./logout-hover.png"));
}

button#suspend {
    background-image: image(url("./sleep.png"));
}
button#suspend:focus {
    background-image: image(url("./sleep-hover.png"));
}

button#shutdown {
    background-image: image(url("./power.png"));
}
button#shutdown:focus {
    background-image: image(url("./power-hover.png"));
}

button#reboot {
    background-image: image(url("./restart.png"));
}
button#reboot:focus {
    background-image: image(url("./restart-hover.png"));
}

