[Unit]
Description=Nextcloud Personal Cloud Server
After=network.target

[Container]
Image=docker.io/library/nextcloud:latest
ContainerName=nextcloud
SecurityLabelDisable=true
Volume=/run/media:/run/media:ro,rslave
Volume=/run/media/tom/LaCie/nextcloud/html:/var/www/html:Z
Volume=/run/media/tom/LaCie/nextcloud/data:/var/www/html/data:Z
Environment=TZ=Etc/UTC
Environment=NEXTCLOUD_ADMIN_USER=admin
Environment=NEXTCLOUD_ADMIN_PASSWORD=password
Environment=APACHE_LISTEN=0.0.0.0:80
PublishPort=8443:80

[Service]
Type=notify
NotifyAccess=all
TimeoutStartSec=900
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
