[Unit]
Description=Nextcloud Personal Cloud Server
After=network.target

[Container]
Image=nextcloud:latest
ContainerName=nextcloud
Volume=/run/media:/run/media:rslave
Volume=/run/media/tom/LaCie/nextcloud/html:/var/www/html
Volume=/run/media/tom/LaCie/nextcloud/data:/var/www/html/data
Environment=TZ=Etc/UTC
Environment=NEXTCLOUD_ADMIN_USER=admin
Environment=NEXTCLOUD_ADMIN_PASSWORD=password
PublishPort=8443:443

[Service]
TimeoutStartSec=900
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
