[Unit]
Description=Nextcloud Personal Cloud Server
After=network.target

[Container]
Image=lscr.io/linuxserver/nextcloud:latest
ContainerName=nextcloud
Volume=/run/media/tom/LaCie/nextcloud/config:/config:Z
Volume=/run/media/tom/LaCie/nextcloud/data:/data:Z
Environment=TZ=Etc/UTC
PublishPort=8443:443
User=0

[Service]
TimeoutStartSec=900
Restart=on-failure

[Install]
WantedBy=default.target
